PORT=4000
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AWS_BUCKET=excalidraw-assets-bucket
WEB_BASE_URL=http://localhost:3000
CLOUDFRONT_URL=

DATABASE_URL="postgres://postgres:postgres3241@localhost:5432/excalidraw"